<%= link_to "里親募集する", new_foster_path, class: "get" %>

<div class="contents row">
  <% @foster.each do |foster| %>
  <%= link_to image_tag(foster.image, class: :foster__img ), foster_path(foster.id), method: :get %>
    <% if foster.blank? %>
      <div class='sold-out'>
        <span>譲渡済</span>
      </div>
    <% end %>
    <p><%= foster.prefecture.name %></p>
    <span class="title">
      <%= foster.title %>
    </span>
  <% end %>
  <div class="card__wrapper">
  <%= render partial: "foster", collection: @fosters %>
  </div>
</div>

<h1>  里親トップページ </h1>