<!DOCTYPE html>
<html>
  <head>
    <title>Dooglife</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <%= link_to image_tag("dooglife.png", class:"dooglife-icon"), "/" %>
        <% if user_signed_in? %>
          <div class="user_nav grid-6">
            <span><%= current_user.username %>さん
              <ul class="user__info">
                <li>
            <%= link_to "マイページ", "#" %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
                </li>
            </ul>
          </span>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
      <div class="menu">
        <span>
          <%= image_tag "menu.png" %>
        </span>
        <ul class="more_menu">
          <li>
            <%= link_to "里親情報", fosters_path, method: :get %>
          </li>
          <li>
            <%= link_to "犬と遊ぼう", dogrun_index_path, method: :get %>
          </li>
        </ul>
      </div>
    </header>
    <%= yield %>
    <footer>
      <p>
        Copyright dooglife 2021.
      </p>
    </footer>
  </body>
</html>
